<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <form ng-submit="save()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" ng-model="ride.name" autofocus="">
      </div>
      <div class="form-group">
        <label for="link">SPOT Link ID</label>
        <input type="text" class="form-control" id="link" ng-model="ride.link">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Save</button>
      <a href="/" class="btn btn-default btn-block" ng-hide="ride.id">Cancel</a>
      <a ng-href="/rides/{{ride.id}}" class="btn btn-default btn-block" ng-show="ride.id">Cancel</a>
      <button type="button" class="btn btn-danger btn-block" ng-show="ride.id" ng-click="destroy()">Delete</button>
    </form>
  </div>
</div>